.d-flex img{
    width: 20px;
    height: 20px;
    margin: 15px;
}
.left{
    margin-top: auto;
    margin-bottom: auto;
}
.right_img img{
    height: 700px;
}
.button{
    border: 1px solid black;
}
.left_img img{
    width: 100%;
}
.left_img2 img{
    width: 100%
}
.gallery{
    text-align: center;
    padding: 20px;
}
.cont1 img{
    width: 100%;
    height: 200px;
}
.features{
    text-align: center;
    padding: 20px;
}
.one{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.two{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.three{
    border-bottom: 1px solid black;
}
.four{
    border-right: 1px solid black;
}
.five{
    border-right: 1px solid black;
}